$color-background: white;
$color-detail: black;
$color-active: #7F0414;
$color-background-dark: black;
$color-detail-dark: #1DDCC2;
$color-active-dark: #22AE9B;

@mixin card-preset {
  margin: 1rem;
  padding: 1.5rem;
  background-color: $color-background;
  border: 2px solid $color-detail;
  border-radius: 10px;
  box-shadow: 4px 4px 14px $color-detail;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin dark-mode {
  background-color: $color-background-dark !important;
  border-color: $color-detail-dark !important;
  color: $color-detail-dark !important;
  outline-color: $color-detail-dark !important;
}

@mixin h2 {
  margin: 1rem 0;
  font-size: 2rem;
  text-transform: uppercase;
}
