@import 'variables';

.tarot {
  @include card-preset;
  border: 2px solid $color-detail;
  justify-content: space-between;
  outline: double $color-detail;
  outline-offset: -15px;
  transition: 1s all;
  width: 260px;

  p {
    color: $color-detail;
    text-decoration: none;
    // font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.5;
  }
}

.tarot:hover {
  color: $color-active ;
  border-color: $color-active;
  -webkit-transform: scale(1.06);
  -ms-transform: scale(1.06);
  transform: scale(1.06);

  p {
    color: $color-active;
    font-style: italic;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.link {
  text-decoration: none;
}
