@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

.dark {
  @include dark-mode;

  a, p {
    color: $color-detail-dark !important;
  }

  a:hover, a:hover p {
    color: $color-active-dark !important;
  }

  button {
    color: $color-detail-dark !important;
    animation: rotation 1s linear;
    transform: rotate(180deg);
    transition-duration: 1s;
  }

  img {
    filter: none;
  }
}

div.dark img {
  filter: invert(1) brightness(0.8);
}

body.dark::after {
  filter: none;
}

body.dark::before {
  background-color: $color-background-dark;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Philosopher', sans-serif;
  color: $color-detail;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  height: 100%; width: 100%;
  background-color: $color-background;
  z-index: -1;
}

body::after {
  content: "";
  position: absolute;
  top: 0; left: 0;
  height: 100%; width: 100%;
  filter: invert(1) brightness(0.5);
  background-image: url('../assets/plants_background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

img {
  filter: invert(1) brightness(0.5);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
